<!DOCTYPE html>
<html lang="en">
  <head>
    <%# Head %>
    <% include partials/head.ejs %>
  </head>
  <body>

    <%# Navbar %>
    <% include partials/nav.ejs %>

    <h1>Rouet2</h1>

    <%# Bottom %>
    <% include partials/bottom.ejs %>
  </body>
</html>
